include helpers/_mixins
include template/_js
block vars
  -
    var title = 'Партнёры MicroXperts';
    var description = 'MicroXperts – российский производитель моноблоков, офисных и игровых компьютеров, ноутбуков и серверных систем. Закажите сборку компьютера или скачайте драйвера на сайте MicroXperts';

    var URL = "https://fast.ulmart.ru/ns/verstka/mxp/img/";

    var LINK = 'https://www.ulmart.ru';

    var SRC = 'https://fast.ulmart.ru/ns/verstka/mxp/';
    //- var SRC = './';



doctype html
html(lang="ru")
    head
        include template/_head
    body
        include template/_header

        main
            section.partners
                .container
                    .partners__page
                        h1.team__title Наши партнёры

                        .partners__about
                            .partners__brand
                                img(src=`${URL + 'asus.png'}`, alt="asus", width="100")
                                h2.partners__name Asus
                                p.partners__text Компания Asus является создателем самых покупаемых и завоевавших наибольшее количество наград материнских плат, а также одним из трех ведущих производителей ноутбуков в мире. Будучи лидером новой цифровой эры, Asus предлагает широкую линейку продуктов, включающую материнские платы, видеокарты, оптические приводы, мониторы, серверы, мультимедийные устройства, беспроводные решения, сетевое оборудование. Все продукты Asus отличает высокое качество и инновационность, они прекрасно подходят для современного дома и офиса. В 2015 году Asus завоевала 4&nbsp;368 наград.
                            .partners__brand
                                img(src=`${URL + 'intel3.png'}`, alt="intel", width="100", height="40", class="partners__img-intel")
                                h2.partners__name Intel
                                p.partners__text Intel Corporation - американская корпорация, производящая электронные устройства и компьютерные компоненты от чипсетов и микросхем до процессоров. Intel сегодня является крупнейшим производителем полупроводников в мире.
                            .partners__brand
                                img(src=`${URL + 'microsoft.png'}`, alt="microsoft", width="130")
                                h2.partners__name Microsoft
                                p.partners__text Microsoft – мировой лидер в области информационных технологий, поставляющий широкий диапазон устройств и сервисов, программного обеспечения и ИТ-услуг. Это одна из крупнейших в мире корпораций, работающая в более чем 190 странах мира. Долгосрочная миссия Microsoft заключается в том, чтобы дать возможность каждому человеку и каждой организации на планете добиваться большего. У компании амбициозные цели: создать новые возможности для совершенствования бизнес-процессов, упростить взаимодействие человека с компьютером, сделать его еще более индивидуальным и построить умную облачную платформу.
                            .partners__brand
                                img(src=`${URL + 'kingston.png'}`, alt="kingston", width="130")
                                h2.partners__name Kingston
                                p.partners__text Компания Kingston в настоящий момент является одним из крупнейших в мире независимых производителей устройств памяти. Высочайшая надежность продукции — это основа стратегии продвижения продукции Kingston. Именно исключительная надежность сыграла ключевую роль в поддержании долговременных взаимоотношений с заказчиками, развитие которых заняло многие годы. При выпуске всей новой продукции Kingston сохраняет неизменное стремление к повышению отраслевых стандартов, при этом поддерживая стабильно высокий уровень надежности.
                            .partners__brand
                                img(src=`${URL + 'crucial.png'}`, alt="crucial", width="130")
                                h2.partners__name Crucial
                                p.partners__text Crucial – бренд компании Micron Technology inc., одного из крупнейших мировых производителей nand и dram памяти. Crucial представляет полную линейку продуктов на рынке памяти – твердотельные накопители и модули памяти для ноутбуков, десктопов, серверов – ddr, ddr2, ddr3, ddr4, sdr, а также премиальную линейку геймерской памяти ballistix. Вся продукция производится на оригинальных чипах материнской компании micron и соответствует самым высоким стандартам качества.
                            .partners__brand
                                img(src=`${URL + 'Cooler_Master.png'}`, alt="Cooler Master", width="100")
                                h2.partners__name Cooler Master
                                p.partners__text Компанию Cooler master основали в 1992&nbsp;году. И с тех пор она славится тем, что выпускает признанные во всем мире радиаторы и вентиляторы или корпуса и воздуховоды, предназначенные для компьютеров и прочих девайсов. В&nbsp;результате компания получила статус мирового лидера по поставкам специализированной продукции и предоставлению сервисных услуг структурам, которые занимаются производством и установкой оборудования, нуждающегося в охлаждении. Cooler master постоянно работает над тем, чтобы всё — конструкция, характеристики и качество систем охлаждения — полностью устраивало заказчика.
                            .partners__brand
                                img(src=`${URL + 'amd.png'}`, alt="AMD", width="120")
                                h2.partners__name Amd
                                p.partners__text Cегодня компания AMD является одним из лидеров на рынке компьютерной микроэлектроники и, в первую очередь, микропроцессоров. Ведущая постоянную конкурентную гонку с&nbsp;такими гигантами как Intel и&nbsp;NVIDIA.


                        
            include template/_footer
    script(src=`${SRC + 'js/main.js'}`)

